<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">

  <display-name>RecipeManagementSystem</display-name>

  <!-- ✅ RecipeServlet Configuration -->
  <servlet>
    <servlet-name>RecipeServlet</servlet-name>
    <servlet-class>com.recipes.RecipeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RecipeServlet</servlet-name>
    <url-pattern>/recipes</url-pattern>
  </servlet-mapping>

  <!-- ✅ AddRecipeServlet Configuration -->
  <servlet>
    <servlet-name>AddRecipeServlet</servlet-name>
    <servlet-class>com.recipes.AddRecipeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddRecipeServlet</servlet-name>
    <url-pattern>/addRecipe</url-pattern>
  </servlet-mapping>

  <!-- ✅ Welcome Files -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

</web-app>
